body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.lesson {
    background: white;
    padding: 40px;
    border-radius: 20px;

    text-align: center;

    width: 500px;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

button {
    padding: 15px;
    font-size: 20px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}